body{
    background-color:rgb(208, 219, 217) ;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.container{
    background-color: rgb(208, 219, 217) ;
    width: 100%;
    min-width: 300px;
    max-width: 1200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.left-panel{
    background-color:rgb(197, 237, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px; 
    width: 100%;
}
 .card{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(12, 66, 64) ;
}
.card img{
    width: 150px;
    margin-top: 10px;
    border-radius: 50%;
    transition: color 0.25s,border-color 0.25s,box-shadow 0.25s,transform 0.25s;
}
.card img:hover{
    border-color: rgb(12, 66, 64);
    color: white;
    box-shadow: 0 0.9em 0.9em -0.4em rgb(12, 66, 64);
    transform: translateY(-0.25em);
    cursor: pointer;
}
.card h3{
    margin-top: 0px;
}
.card h4{
    margin-top: 0px;
}
.contact{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.contact-buttons{
    margin-top: 10px;
}
.email{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    color: rgb(82, 5, 94);
    display: inline-block;
    padding: 12px 20px; 
    transition:background-color 200ms ease-in-out;
}
.linkd-in,.git{
    background: none;
    color: black;
    transition:  all 200ms ease-in-out;
}
.linkd-in:hover,.git:hover{
    border-color: rgb(11, 56, 55);
    color: rgb(2, 43, 43);
    box-shadow: 0 0.8em 0.8em -0.4em rgb(12, 66, 64);
    transform: translateY(-0.25em);
    cursor: pointer;
}
.abilities{
    text-transform: uppercase;
    vertical-align: baseline;
    width: 100%;
}
.skills-list{
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 1.5rem;
    padding: 15px 0;
    border-top: 1px solid black;
    font-family: "Nunito", sans-serif;
}
.about-skills{
    margin: 10px 0px 25px;
    margin-right: 25px;
    margin-left: -3px;
    color: rgb(12, 66, 64);
}
.skills-header{
    display: flex;
    justify-content: center;
}
.languages-section{
    text-align: left;
    text-transform: uppercase;
    vertical-align: baseline;
    width: 100%;
}
.languages-list{
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 1.5rem;
    padding: 15px 0;
    border-top: 1px solid black;
    font-family: "Nunito", sans-serif;
}
.language-header{
    display: flex;
    justify-content: center;
}
.languages{
    margin: 10px 0px 25px;
    margin-right: 25px;
    margin-left: -3px;
    color: rgb(12, 66, 64);
}
.right-panel{
    background-color: rgb(135, 199, 184);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px; 
}
.work-experience{
    text-align: left;
    vertical-align: baseline;
}
.work-experience a{
    text-decoration: none;
    color: inherit; 
}
.work-experience a:hover{
    color: blue; 
}
.work-experience ul{
    padding-left: 15px;
}
.work-experience ul li{
    list-style: none;
}
.experience-header{
    text-align: center;
    text-transform: uppercase;
}
.experience-title {
    border-top: 1px solid black;
    padding-top: 15px;
    margin-right: 10px;
    line-height: 1.5rem;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.experience-title h4{
    font-weight: 600;
    font-size: 20px;
    margin: 0 0;
}

.experience-title p{
    margin: 0 0;
}

.experience-description{
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 1.5rem;
    font-family: "Nunito", sans-serif;
}
.experience-description p{
    margin-bottom: 0;
}
.experience-tasks{
    list-style: square;
    letter-spacing: 1px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 1.4rem;
}
.experience-tasks ul li{
    list-style: square;
}
.experience-tags{
    list-style: none;
    letter-spacing: 1px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 621;
    line-height: 1.3rem;
}
@media(min-width:860px){
    .container{
        flex-direction: row;
        align-items: flex-start;
    }
    .left-panel{
        margin-right: 0.3rem;
        height: 100%;
    }
}